:root {
    --cor-titulo-principal: #2D5A27; /* Troque aqui para testar as opções */
    --cor-subtitulo: #4A7C44;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ================================================= */
/* estilização das imagens */

.grade {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.grade img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* ================================================= */
/* estilização do titulo e escritas (h1, h2, p etc.) */
h1 {
    color: var(--cor-titulo-principal);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    color: var(--cor-subtitulo);
    border-left: 5px solid var(--cor-subtitulo); /* Um detalhe charmoso na lateral */
    padding-left: 10px;
    margin-top: 40px;
}

h3 {
    color: #333; /* Mantendo um tom neutro para h3 */
}

p {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;       /* Espaçamento entre linhas (essencial!) */
    color: #333d33;        /* Cor suave para leitura */
    margin-bottom: 15px;   /* Afasta um parágrafo do outro */
    font-size: 16px;       /* Tamanho padrão confortável */
    text-align: justify;   /* Alinhamento opcional para parecer bloco */
}

/* Estilo especial para as datas (que estão em tags <p> no seu HTML) */
section p:first-of-type {
    font-size: 14px;
    color: #777;
    font-style: italic;
}

/* Estilo para a seção de pesquisa */
.pesquisa {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    width: 20vw;
}

#campo-filtro {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

#resultado-pesquisa {
    list-style: none; /* Remove as bolinhas da lista */
}

#resultado-pesquisa li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    color: #444;
}

/* Efeito de destaque ao passar o mouse nos resultados */
#resultado-pesquisa li:hover {
    background-color: #e8f4ea; /* Um tom de verde bem clarinho */
    cursor: default;
}